
@page "{searchString?}"
@using Biblio.Models
@model IndexModelLivre

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Langue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].publishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Livre)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Langue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    <form>
        <p>
            <select asp-for="LivreCategorie" asp-items="Model.Categorie">
                <option value="">All</option>
            </select>
            Nom: <input type="text" asp-for="SearchString"/>
            <input type="submit" value="Filter"/>
        </p>
    </form>
</table>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
            </div>

            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="row">
                                @foreach (var item in Model.Livre)
                                {
                                    <div class="col-md-4 mb-3">

                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src=" @Html.DisplayFor(modelItem => item.Picture)">
                                            <div class="card-body">
                                                <h4 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h4>
                                                <p class="card-text">@Html.DisplayFor(modelItem => item.Langue)</p>
                                                <p class="card-link"> @Html.DisplayFor(modelItem => item.publishYear)</p>
                                                <a asp-page="./Livre/Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.Author)</a>
                                                <p class="card-link">@Html.DisplayFor(modelItem => item.SerialNumber)</p>
                                                <p class="card-link"> @Html.DisplayFor(modelItem => item.ISBN)</p>

                                            </div>

                                        </div>

                                    </div>
                                }

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="embed-light.css">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</section>